.content_home {
	height: 100%;
	display: flex;
	position: absolute;
	width: 100%;
}

.content_home-global {
	display: flex;
	width: 100%;
}

.content_img {
	background-color: red;
	width: 60%;
	padding: 5px;
	height: 100%;
	position: relative;
	background: url('../../images/background.jpg') no-repeat;
	background-size: cover;
}

.content_detail {
	width: 40%;
	padding: 5px;
	height: 100%;
}

.logo-lettering {
	position: absolute;
	top: 33%;
	left: 49%;
}

.logo-content {
	color: white;
	font-weight: 400;
	font-size: 146px;
	background-image: url('../../images/back-letther.jpg');
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
	font-family: 'DM Serif Display', serif;
	line-height: 116px;
}

.read-me {
	text-align: right;
	font-size: 25px;
}

.logo-psd {
	max-width: 445px;
}

.logo-psd img {
	width: 100%;
}
